language: julia
sudo: true
dist: trusty
os:
    - linux
addons:
    apt:
        packages:
            - xvfb
            - xauth
            - libgtk-3-0
julia:
    - 0.5
    - 0.6
    - nightly
notifications:
  email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'versioninfo(); Pkg.clone(pwd()); Pkg.build("ImageView")'
    - xvfb-run julia -e 'Pkg.test("ImageView")'
